
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ site.baseurl }}agenda/">Agenda</a></li>
            <li><a href="{{ site.baseurl }}key-links/">Key Links</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="dropdown-header">Technical Resources</li>
            <li><a href="{{ site.baseurl }}airs/">AIRS Content</a></li>
            <li><a href="{{ site.baseurl }}niem/">NIEM Content</a></li>
          </ul>
        </div>
