
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ site.baseurl }}agenda/">Agenda</a></li>
            <li><a href="{{ site.baseurl }}page2/">page2</a></li>
            <li><a href="{{ site.baseurl }}page3/">page3</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="dropdown-header">group header</li>
            <li><a href="{{ site.baseurl }}page4/">page4</a></li>
            <li><a href="#">etc</a></li>
            <li><a href="#">etc</a></li>
            <li><a href="#">etc</a></li>
          </ul>
        </div>
