
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ site.baseurl }}agenda/">Agenda</a></li>
            <li><a href="{{ site.baseurl }}key-links/">Key Links</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="dropdown-header">Technical Resources</li>
            <li><a href="{{ site.baseurl }}airs/">AIRS Content</a></li>
            <li><a href="{{ site.baseurl }}niem/">NIEM Content</a></li>
            <li><a href="https://docs.google.com/a/ejahn.net/spreadsheet/ccc?key=0ApU4bq5aLdmodHowcWxzNXZhWGV4OUY2RVg5M25TQVE&usp=drive_web#gid=0">Terms</a></li>

          </ul>
        </div>
